In [6]:
import pandas as pd

In [9]:
df = pd.read_excel(r"G:\nse assinment database\online_retail.xlsx")

In [10]:
df.shape

(525461, 8)

In [11]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      525461 non-null  object
 1   StockCode    525461 non-null  object
 2   Description  522533 non-null  object
 3   Quantity     525461 non-null  int64
 4   InvoiceDate  525461 non-null  datetime64[ns]
 5   Price        525461 non-null  float64
 6   Customer ID  417534 non-null  float64
 7   Country      525461 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 32.1+ MB

In [13]:
df.isna().sum().sort_values(ascending=False)

Customer ID    107927
Description      2928
StockCode           0
Invoice             0
Quantity            0
InvoiceDate         0
Price               0
Country             0
dtype: int64

In [14]:
df.duplicated().sum()

np.int64(6865)

In [15]:
df.isna().sum()

Invoice             0
StockCode           0
Description      2928
Quantity            0
InvoiceDate         0
Price               0
Customer ID    107927
Country             0
dtype: int64

In [48]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

In [49]:
df['Description'] = df['Description'].fillna("Unknown")

In [50]:
df['Customer_ID'] = df['Customer_ID'].astype('object')
df['Customer_ID'] = df['Customer_ID'].fillna("Unknown")

In [51]:
df['Description'] = df['Description'].str.strip().str.title()

In [52]:
df = df.drop_duplicates()

In [54]:
df = df[(df['Quantity'] > 0) & (df['Price'] > 0)]

In [55]:
df.isna().sum()

Invoice         0
StockCode       0
Description     0
Quantity        0
InvoiceDate     0
Price           0
Customer_ID     0
Country         0
InvoiceMonth    0
dtype: int64

In [68]:
df.loc[:, 'TotalRevenue'] = df['Quantity'] * df['Price']

In [69]:
df.loc[:, 'InvoiceMonth'] = df['InvoiceDate'].dt.month

In [65]:
df = df.copy()
df['HighValueTransaction'] = df['TotalRevenue'] > 500

In [60]:
df.groupby('Description')['TotalRevenue'] \
  .sum() \
  .sort_values(ascending=False) \
  .head(5)

Description
Manual                                262963.43
Regency Cakestand 3 Tier              169912.76
White Hanging Heart T-Light Holder    160345.63
Dotcom Postage                        116408.71
Assorted Colour Bird Ornament          72890.19
Name: TotalRevenue, dtype: float64

In [61]:
df['Description'].value_counts().head(5)

Description
White Hanging Heart T-Light Holder    3409
Regency Cakestand 3 Tier              2034
Strawberry Ceramic Trinket Box        1678
Pack Of 72 Retro Spot Cake Cases      1435
Assorted Colour Bird Ornament         1435
Name: count, dtype: int64

In [62]:
df.groupby('InvoiceMonth')['TotalRevenue'].sum()

InvoiceMonth
1      651155.112
2      551878.296
3      830915.261
4      678875.252
5      657705.500
6      749537.310
7      648810.270
8      695251.910
9      921696.991
10    1161902.220
11    1464293.142
12    1260114.970
Name: TotalRevenue, dtype: float64

In [63]:
pd.pivot_table(
    df,
    values='TotalRevenue',
    index='Country',
    aggfunc='sum'
).sort_values(by='TotalRevenue', ascending=False).head(5)

                TotalRevenue
Country
United Kingdom   8812685.403
EIRE              380909.570
Netherlands       268784.350
Germany           202025.391
France            147103.140

In [64]:
df[df['HighValueTransaction'] == True].shape[0]

1173

In [70]:
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer_ID,Country,InvoiceMonth,TotalRevenue,HighValueTransaction
0,489434,85048,15Cm Christmas Glass Ball 20 Lights,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,12,83.40,False
1,489434,79323P,Pink Cherry Lights,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,12,81.00,False
2,489434,79323W,White Cherry Lights,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,12,81.00,False
3,489434,22041,"Record Frame 7"" Single Size",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,12,100.80,False
4,489434,21232,Strawberry Ceramic Trinket Box,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,12,30.00,False
...,...,...,...,...,...,...,...,...,...,...,...
525456,538171,22271,Feltcraft Doll Rosie,2,2010-12-09 20:01:00,2.95,17530.0,United Kingdom,12,5.90,False
525457,538171,22750,Feltcraft Princess Lola Doll,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom,12,3.75,False
525458,538171,22751,Feltcraft Princess Olivia Doll,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom,12,3.75,False
525459,538171,20970,Pink Floral Feltcraft Shoulder Bag,2,2010-12-09 20:01:00,3.75,17530.0,United Kingdom,12,7.50,False
525460,538171,21931,Jumbo Storage Bag Suki,2,2010-12-09 20:01:00,1.95,17530.0,United Kingdom,12,3.90,False